.m {
    color:black;
    border-radius: 15px; /* Сглаженные углы */
    padding: 20px;
    text-align: center; /* Центрирование текста */
    opacity: 0;
    transform: translateY(-50px);
    animation: appear 2s forwards;
    margin-bottom: 20px; /* Отступ снизу */
    
}
@keyframes appear {
            0% {
                opacity: 0;
                transform: translateY(-50px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }


        img {
            width: 300px; /* Ширина изображения */
            border-radius: 15px; /* Сглаженные углы для изображения */
            opacity: 0;
            animation: imageFadeIn 2s forwards;
            display: block; /* Отображение изображения как блочного элемента */
            margin: 20px auto; /* Центрирование изображения */
        }

        @keyframes imageFadeIn {
            0% {
                opacity: 0;
                transform: scale(0.9);
            }
            100% {
                opacity: 1;
                transform: scale(1);
            }
        }
        .container1 {
    min-height: 100%;
            text-align: center;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-width: 400px;
            margin: 20px auto; 
        }
button {
    background-color: green;
    padding: 10px 40px;
    color:white;
    border-radius: 6px;
    transition: opacity 0.3s;
}

button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 0.7;
}

a {
    color:aliceblue !important;
    text-decoration: none !important; 
}